.Header {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

h1 {
  margin: 0;
}

.searchBar{
  height: 30px;
  margin-right: 25px;
}
